<h1>Edit Time Slot</h1>

<p></p>
<% if flash[:notice] %>
  <span class="flash_notice_red"><%= flash[:notice] %></span>
  <% flash[:notice] = nil %>
<% end %>
<p></p>

<h2>For Venue:</h2>
<!-- need to insert venue name -->
<!-- consider changing data table to have date and then start/end times -->


<%= form_for(@time_slot) do |f| %>


  <% if current_user.promoter %>
    <% if current_user.promoter.id == @time_slot.venue.promoter.id %>
      <%= f.label :date  %><br>
      <%= f.date_field :date %><br>
      <p></p>

      <%= f.label :start_time  %> <br>
      <%= f.time_field :start_time %>
      <p></p>

      <%= f.label :end_time  %><br>
      <%= f.time_field :end_time %><br>
      <p></p>

      <%= f.label :performer_id  %>  <br>
      <%= f.number_field :performer_id %>
      <p></p>

       <%= f.label :venue_id  %>  <br>
      <%= f.number_field :venue_id %>
      <p></p>

      <%= f.submit %>
  <% end %>
<% end%>

<% end %>

<p></p>
<p></p>
<%= link_to "Back to Time Slot Page", time_slot_path(@time_slot)%>
<p></p>
<p></p>

<%= link_to "Return Home", root_path, action: "get", method: "get" %>
