<h1>Upcoming Performances</h1>
<div class="hline"></div>



<% Venue.all.each do |venue| %>
	<h2><%= venue.name %></h2>
	<% if venue.promoter %>
		<h5>Promoter: <%= venue.promoter.user.first_name %> <%= venue.promoter.user.last_name %></h5>
	<% end %>

	<% if venue.time_slots.empty? %>
		Nothing booked for this venue yet.<br>
	<% else %>
		<%  sorted_array = []%>
		 <%date_sorted_array = venue.time_slots.sort_by {|date_slot| date_slot.date}%>
		<% time_sorted_array = date_sorted_array.sort_by {|time_slot| time_slot.start_time}%>
		

		<% time_sorted_array.each do |time_slot| %>
			<% if time_slot.performer %>

				<h3>Performer: <%= time_slot.performer.user.first_name %> <%= time_slot.performer.user.last_name %></h3>
				<h5>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></h5>
				<h5>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></h5>
				<h5>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></h5>

				<% if time_slot.status == "Available" %>

				<% end %>
				
			<% else %>

			<h2> No performer scheduled yet.</h2>
			<h5>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></h5>
			<h5>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></h5>
			<h5>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></h5>

			<% end %>
			
		<% end %>

	<% end %>
	<br>
	<div class="hline"></div>




<% end %>
