<h1>Create New Time Slot</h1>

<p></p>
<%= flash[:notice] %>
<p></p>

<h2>For Venue:</h2>
<!-- need to insert venue name -->
<!-- consider changing data table to have date and then start/end times -->

<% if current_user.promoter %>
  <% if current_user.promoter.id == @venue.promoter.id %>
    <%= form_for(@time_slot) do |f| %>

      <%= f.label :date  %><br>
      <%= f.date_field :date %><br>
      <p></p>

      <%= f.label :start_time  %> <br>
      <%= f.time_field :start_time %>
      <p></p>

      <%= f.label :end_time  %><br>
      <%= f.time_field :end_time %><br>
      <p></p>

      <%= f.label :performer_id  %>  <br>
      <%= f.number_field :performer_id %>
      <p></p>

      <%= f.button :submit, name: "time_slot[venue_id]", value: @venue.id %>
    <% end %>
  <% end %>
<% end %>

<p></p>
<p></p>

<%= link_to "Return Home", root_path, action: "get", method: "get" %>
