<center><h1>Individual Time Slot Information</h1></center>
<% if @time_slot.time_slot_applications.each do |time_slot_application|%>
	<%= time_slot_application.performer.user.first_name %>
	<%= time_slot_application.performer.user.last_name %>
	<%= button_to "Approve", time_slot_path(time_slot_application.time_slot), :method => :put, params: {time_slot: {status: "Booked"}} %>

<% end %>
<% end %>

<h3>Venue: <%= @time_slot.venue.name %></h3>

<% if @time_slot.performer %>
	<h4>Performer: <%= @time_slot.performer.user.first_name %> <%= @time_slot.performer.user.last_name %></h4>
<% else %>
	<h4> No performer scheduled yet.</h4>
<% end %>

<h5>Day: <%= @time_slot.date.strftime("%A, %B %e, %Y") %></h5>
<h5>Start Time: <%= @time_slot.start_time.strftime("%l:%M %P") %></h5>
<h5>End Time: <%= @time_slot.end_time.strftime("%l:%M %P")%></h5>
<p></p>
<h5>Promoter: <%= @time_slot.venue.promoter.user.first_name %> <%= @time_slot.venue.promoter.user.last_name %></h5>
<br>
<br>

<% if current_user.id == @time_slot.venue.promoter.id %>
<%= link_to "Click here to edit this time slot.", edit_time_slot_path(@time_slot)%>
<p></p>
<p></p>
<%= link_to "Click here to delete this time slot.", time_slot_path(@time_slot), method: :delete %>
<% end %>
