

<h1>Welcome back <%= @user.first_name %>!</h1>
<p> <%= link_to "Edit your user profile", edit_user_path(@user) %></p>

<% if @user.owner %>
<p></p>
  You own: <br>
  <p></p>

  <% if @user.owner %>
    <% if @user.owner.venues %>
      <% @user.owner.venues.each do |venue| %>
          <%= link_to "#{venue.name}", venue_path(venue) %>
      <% end %>
    <% end %>
  <% end %>
  <p></p>
  <p></p>
  <p></p>
   <%= link_to "Click here to create new venue.", new_venue_path(@venue)%>
<% end %>

  <p></p>


    <p></p>


<% if @user.promoter %>
  <% if @user.promoter.venues %>
    <br>
    These are your venues: <br>
    <% @user.promoter.venues.each do |venue| %>
        <%= link_to "#{venue.name}", venue_path(venue) %>
      <% if venue.time_slots %>
    		<% venue.time_slots.all.each do |time_slot| %>
    		  <% if time_slot.performer %>
    				<h3>Performer: <%= time_slot.performer.user.first_name %> <%= time_slot.performer.user.last_name %></h3>
    			<% else %>
    				<h3> No performer scheduled yet.</h3>
    			<% end %>
  		    <p>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></p>
    			<p>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></p>
    			<p>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></p>

  		<% end %>
      <% end %>

      <% end %>
      <% end %>
    <p></p>
<% end %>




<% if @user.performer %>
    <p></p>
    <% if @user.performer.time_slots %>
      These are your performances:
        <% @user.performer.time_slots.each do |time_slot| %>
        <h3>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></h3>
        <h3>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></h3>
        <h3>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></h3>
        <p></p>
        <h3>Promoter: <%= time_slot.venue.promoter.user.first_name %> <%= time_slot.venue.promoter.user.last_name %></h3>

        <% end %>
    <% end %>
<%  end %>
