<h1>Welcome back <%= @user.first_name %>!</h1>

<h5><p> <%= link_to "Edit your user profile", edit_user_path(@user) %></p></h5>
<p></p>

<h5>Name: <%= @user.full_name %></h5>
<h5>Phone: <%= @user.phone_number %></h5>
<h5>Email: <%= @user.email %></h5>
<br>

<!-- VENUE OWNER INFO BEGINS -->
<% if @user.owner %>
  <% if @user.owner.venues %>

    <% if !@user.owner.venues.empty? %>
      <h3>You own: </h3>
    <% else %>
      <h5>- You don't own any venues yet</h5>
    <% end %>

    <% @user.owner.venues.each do |venue| %>
      <h5><%= link_to "#{venue.name}", venue_path(venue) %></h5>
    <% end %>

  <% end %>
<% end %>
<%= link_to "Click here to create new venue", new_venue_path(@venue)%>
<!-- VENUE OWNER INFO ENDS -->


<!-- PROMOTER INFO BEGINS -->
<% if @user.promoter %>
  <% if @user.promoter.venues %>

    <% if !@user.promoter.venues.empty? %>
      <h4>These are your venues:</h4>
    <% else %>
      <h5>- You don't promote any venues yet</h5>
    <% end %>

    <% @user.promoter.venues.each do |venue| %>
      <h4><%= link_to "#{venue.name}", venue_path(venue) %></h4>
      <% if venue.time_slots %>
        <% if !venue.time_slots.empty? %>
    		  <% venue.time_slots.all.each do |time_slot| %>
    		    <% if time_slot.performer %>
      				<h4>Performer: <%= time_slot.performer.user.first_name %> <%= time_slot.performer.user.last_name %></h4>
            <% elsif time_slot.status == "pending" %>
              PLACE HOLDER
            <% else %>
      		    <h3> No performer scheduled yet.</h3>
      		  <% end %>
          <% end %>
          <p>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></p>
    			<p>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></p>
    			<p>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></p>
        <% end %>

      <% else %>
        <h5> You are not currently managing any performances at this venue.</h5>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<!-- PROMOTER INFO ENDS -->


<!-- PERFORMER INFO BEGINS -->
<% if @user.performer %>
  <% if @user.performer.time_slots %>

    <% if !@user.performer.time_slots.empty? %>
      <h3>Your performances:</h3>
    <% else %>
      <h5>- There are no shows available.</h3>
    <% end %>

    <% sorted_array = @user.performer.time_slots.sort_by {|x| [x.date, x.start_time] }%>
    <% sorted_array.each do |time_slot| %>
      <h5>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></h5>
      <h5>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></h5>
      <h5>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></h5>
      <h5> Venue: <%= link_to "#{time_slot.venue.name}", venue_path(time_slot.venue) %> </h5>
      <h5>Promoter: <%= time_slot.venue.promoter.user.first_name %> <%= time_slot.venue.promoter.user.last_name %></h5>
      <br>
    <% end %>
  <% end %>

  <% sorted_array = TimeSlot.all.sort_by {|x| [x.date, x.start_time] }%>
    <% if !sorted_array.empty? %>
      <h3>These are the available time slots:</h3>
    <% end %>

    <% sorted_array.each do |time_slot| %>
      <% if time_slot.status == "Available" %>
        <h5>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></h5>
        <h5>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></h5>
        <h5>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></h5>
        <p></p>
        <h5>Promoter: <%= time_slot.venue.promoter.user.first_name %> <%= time_slot.venue.promoter.user.last_name %></h5>
      <%end%>

      <%= button_to "Request", time_slot_applications_path, :method => :post, params: {time_slot_id:  time_slot.id, performer_id: current_user.performer.id, status: "pending"} %>
    <%end%>
<% end %>
<!-- PERFORMER INFO ENDS -->
