<% if current_user.promoter %>
  <a href="#"> click me if you are an promoter </a>
<% end %>


<h1>Welcome back <%= @user.first_name %>!</h1>

<% if @user.owner %>
Hi Owner!
<p></p>
  You own:
  <% if @user.owner %>
    <% if @user.owner.venues %>
      <% @user.owner.venues.each do |venue| %>
        <%= venue.name %>
      <% end %>
    <% end %>
  <% end %>

  <p></p>


    <p></p>
<% end %>

<% if @user.promoter %>
    Hi promoter
  <% if @user.promoter.venues %>
    These are your venues:
    <% @user.promoter.venues.each do |venue| %>
      <%= venue.name %>
      <% if venue.time_slots %>
    		<% venue.time_slots.all.each do |time_slot| %>
    		  <% if time_slot.performer.user.first_name %>
    				<h2>Performer: <%= time_slot.performer.user.first_name %> <%= time_slot.performer.user.last_name %></h2>
    			<% else %>
    				<h2> No performer scheduled yet.</h2>
    			<% end %>
  			<h3>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></h3>
    			<h3>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></h3>
    			<h3>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></h3>

  		<% end %>
      <% end %>
      <%end%>
    <p></p>
<% end %>
<% end %>

<% if @user.performer %>
    hi performer
    <p></p>
    <% if @user.performer.time_slots %>
      These are your performances:
        <% @user.performer.time_slots.each do |time_slot| %>
        <h3>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></h3>
        <h3>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></h3>
        <h3>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></h3>
        <p></p>
        <h3>Promoter: <%= time_slot.venue.promoter.user.first_name %> <%= time_slot.venue.promoter.user.last_name %></h3>

        <% end %>
    <% end %>
<%  end %>
