
<div class="row" >
  	<div class="col s4 push-s8"><span class="flow-text">
  		<% if current_user.owner %>
			<%= link_to "Create New Venue", new_venue_path%>
		<% end %></span></div>
  	<div class="col s8 pull-s4"><span class="flow-text">
		<h1> All Venues </h1>	
  	</span></div>
</div>


<div class="hline"></div>

<!-- START -->

<% if  @venues == nil %>
	<h2> There are currently no available venues. </h2>
<% else %>

	

	<% @venues.each do |venue| %>
		<div class="row" >
			<div class="col s4 push-s8">
				<span class="flow-text">
				 	<% if current_user.id == venue.owner.user.id %>
				 		<%= link_to "Edit this venue", edit_venue_path(venue) %>
				 		<%= link_to new_venue_path(venue) do %>
				 			<i class="material-icons">mode_edit</i>
				 		<% end %>
				 	<% end %>
				 	 <br>
				 </span>
			</div>
			
  			<div class="col s8 pull-s4">
  				<span class="flow-text">

				 	<h3> <%= link_to "#{venue.name}", venue_path(venue) %> </h3>

				 	<%= venue.street_address_1 %>

				 	<br>
				 	
				 	<% if venue.street_address_2 != "" %>
				 		<%= venue.street_address_2 %>
				 		<br>
				 	<% end %>
				 	
				 	<%= venue.city %> <br>
				 	<%= venue.state %> <br>
				 	<%= venue.zip_code %> <br>

				 	Owner name: <%= venue.owner.user.first_name %> <%= venue.owner.user.last_name %><br>
				 </span>
				</div>

			

		</div>
		<div class="hline"></div>
	<% end %>
	<br>

 <% end %>

 <!-- end -->



<p></p>
<p></p>
 <!-- Need to restrict this link to owners -->
 



