<h1> All Venues </h1>
<div class="hline"></div>

<% if  @venues == nil %>
	<h2> There are currently no available venues. </h2>
<% else %>
 <% @venues.each do |venue| %>

 	<h3><%= link_to "#{venue.name}", venue_path(venue) %> </h3>
 	<%= venue.street_address_1 %><br>
 	<% if venue.street_address_2 != "" %>
 		<%= venue.street_address_2 %><br>
 	<% end %>
 	<%= venue.city %> <br>
 	<%= venue.state %> <br>
 	<%= venue.zip_code %> <br>
 	Owner name: <%= venue.owner.user.first_name %> <%= venue.owner.user.last_name %><br>
 	 <br>
 <div class="hline"></div>
 <% end %>
 <br>

 <% end %>

<p></p>
<p></p>
 <!-- Need to restrict this link to owners -->
 <% if current_user.owner %>
 <%= link_to "Create New Venue", new_venue_path(@venue) %>
 <% end %>


