<h1>Venue Page</h1>

<p></p>
<p></p>
	<h2><%= @venue.name %> <br></h2>
	<a href="<%= @venue.maps_url %>" target="_new">
	<h5><%= @venue.street_address_1 %><br>
	<% if @venue.street_address_2 != "" %>
 		<%= @venue.street_address_2 %><br>
 	<% end %>
 	<%= @venue.city %>, <%= @venue.state %><br>

 	<%= @venue.zip_code %> </a><br>
 	Owner: <%= @venue.owner.user.full_name %><br>
 	Promoter: <%= @venue.promoter.user.full_name %><br></h5>
 	<p></p>
	<% if current_user.id == @venue.owner.user.id %>
 	<h3><%= link_to "Edit Venue", edit_venue_path(@venue) %></h3>
 	<p><%= link_to "Click here to delete this venue.", venue_path(@venue), method: :delete, data: {confirm: "Really delete this venue? Deleting this venue will delete associated time slots."} %></p>
 	<% end %>

	<p></p>

 	<p></p>
 	<p></p>

 	<p></p>
 	<% if current_user.id == @venue.promoter.user.id %>
	<%= link_to "Create New Time Slot", {controller: "time_slots", action: "new", venue_id: @venue.id} %>
	<% end %>
	<br>
	<br>
	<h4>Shows for <%= @venue.name %></h4>

	<% if !@venue.time_slots.blank? %>
		<% @venue.time_slots.all.each do |time_slot| %>
			<% if time_slot.performer %>
					<h3>Performer: <%= time_slot.performer.user.first_name %> <%= time_slot.performer.user.last_name %></h3>
				<% else %>
					<h5> No performer scheduled yet.</h5>
				<% end %>

				<h5>Day: <%= time_slot.date.strftime("%A, %B %e, %Y") %></h5>

				<h5>Start Time: <%= time_slot.start_time.strftime("%l:%M %P") %></h5>
				<h5>End Time: <%= time_slot.end_time.strftime("%l:%M %P")%></h5>
				<br>
		<% end %>

	<% else %>
			<h5> No performances scheduled. </h5>
	<% end %>

	<%= month_calendar do |date| %>
		<%= date %>
	<% end %>
