<% if flash[:notice] %>
  <span class="flash_notice_red"><%= flash[:notice] %></span>
  <% flash[:notice] = nil %>
<% end %>

<h2>Please Login:</h2>

<h3>
<%= form_tag('/sessions') do %>
<%# form_tag({controller: 'sessions', action: 'create', method: 'post'}) %>

  <%= label_tag :email %>
  <%= text_field_tag 'user[email]' %>


  <%= label_tag :password %>
  <%= password_field_tag 'user[password]' %>

  <br>

  <%= submit_tag "Sign In"%>

<% end %>
</h3>

<p></p>

<%= link_to "Click here to sign up", new_user_path %>
