
<!DOCTYPE html>
<html>
  <head>
    <title>Openstage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>


   <nav>

    <% if logged_in?%>

    <div class="nav-wrapper" id="myHeader">
      <a href="<%= root_path %>" class="brand-logo left"><img src="http://i65.tinypic.com/157dqo4.jpg" width="200" height="43" valign = "middle"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>Hi <%= current_user.first_name %>!</li>
        <li><a href="<%= user_path(current_user) %>">Profile</a></li>
        <li><a href="<%= venues_path %>">Venues</a></li>
        <li><a href="<%= time_slots_path %>">Upcoming Shows</a></li>
        <li><a href="<%= performers_path %>">Performers</a></li>
        <li><a href="<%= promoters_path %>">Promoters</a></li>
        <li><a href="<%= logout_path %>">Logout</a></li>
      </ul>
    </div>

    <% else %>

     <div class="nav-wrapper" id="myHeader">
       <a href="<%= root_path %>" class="brand-logo left"><img src="http://i65.tinypic.com/157dqo4.jpg" width="200" height="43" valign = "middle"></a>


        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="navbar-brand" href="<%= login_path %>" style="cursor:progress" />Log In</a></li>
          <li><a class="navbar-brand" href="<%= new_user_path %>" style="cursor:progress" />Sign Up</a></li>
          <li>
            <% if flash[:logout] %>
              <span class="flash_notice_red"><%= flash[:logout] %></span>
              <% flash[:logout] = nil %>
            <% end %>
          </li>
        </ul>
    </div>

    <% end %>

  </nav>


    <div id="main_content"> <%= yield %> </div>

     <footer class="page-footer" id="myFooter">
          <div class="container" id="myFooter">
            <div class="row">
              <div class="col l6 s6">
                <h5 class="white-text">OpenStage</h5>
                <p class="grey-text text-lighten-4">Put your future in your hands.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://images-mm.s3.amazonaws.com/TMNT_Cool_Story_JNK_Cream_POP.jpg" target="_new">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://youtu.be/oHg5SJYRHA0" target="_new">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Flatiron Students Fam, Sup dog?
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
  </body>

</html>
