
<!DOCTYPE html>
<html>
  <head>
    <title>Openstage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  </head>

  <body>

    <div class="nav-bar" bgcolor="grey">
      <% if logged_in?%>
        <a class="navbar-brand" href="<%= root_path %>"/>Home</a> | <a class="navbar-brand" href="<%= user_path(current_user) %>"/>Profile</a> | <a class="navbar-brand" href="<%= logout_path %>"/>Log Out</a> | <%= current_user.first_name %> | Privileges:
        <% if current_user.promoter %>
           Promoter
          <% end %>
        <% if current_user.performer %>
         Performer
          <% end %>
        <% if current_user.owner %>
          Owner
          <% end %>



      <% else %>
        <a class="navbar-brand" href="<%= login_path %>"/>Log In</a>
        | <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
      <% end %>
    </div>

      <p></p>
    <%= yield %>
  </body>
</html>
